<div class="row">
  <div class="col-lg-8">
    <div class="row">
        <div class="col-12" >
            <div class="alert alert-secondary" role="alert">
               <strong>Most recently</strong> 
              </div>
            </div>
            
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li *ngFor="let n of news; let i = index;"  [ngClass]="{'active': i==0}" data-target="#carouselExampleIndicators" data-slide-to="i"></li>
              
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item" *ngFor="let n of news; let i = index;"  [ngClass]="{'active': i==0}" style="max-height: 19rem; overflow: hidden;">
                <a [routerLink]="['/new/detail',n.Id_news]" ><img class="d-block w-100" src="{{n.Images[0].Img_Url}}" alt=""></a>
                <div class="carousel-caption d-none d-md-block " >
                    <div class="card text-white bg-dark mb-3 m-auto" style="width: 18rem;">
                        <div class="card-header">{{n.Title}}</div>
                        <div class="card-body">
                            <button class="btn btn-primary" [routerLink]="['/new/detail',n.Id_news]" >Read more</button>
                        </div>                        
                      </div>        
                  </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </div>
    <hr>
<div class="row">  
            
  <app-most-viewed class="col-12"></app-most-viewed>
</div>
  
  </div>
  <div class="col-lg-4">
    <app-discussed></app-discussed>
     
  </div>
</div>


