<div class="shadow mb-5 bg-white rounded">
  <a [routerLink]="['/news/detail', newss.Id_news]" routerLinkActive="active" style="cursor: pointer; text-decoration: none;">
  <div class="card mb-3">
      <img class="card-img-top" src="{{newss.Images[0].Img_Url}}" alt="Card image cap" >
      <div class="card-body">
        <h5 class="card-title">{{newss.Title}}</h5>

        <p class="card-text"><small class="text-muted">{{newss.DateAdded | date:'d MMMM y'}}</small></p>
      </div>
  </div>    
   </a>     
</div>