<div class="row">
  <div class="col-lg-8 col-md-12 col-sm-12" *ngIf="loadSucces">
      <div class="card mb-3">
    
          <div class="card-body">
            <h5 class="card-title">{{news.Title}}</h5>
          </div>
          <img class="card-img-top" src="{{news.Images[0].Img_Url}}" alt="Card image cap">
          <div class="card-body">  
              <p class="card-text">{{news.Description}}</p>
              <p class="card-text">
                <small class="text-muted">Added {{news.DateAdded | date:'d MMMM y'}}
                </small></p>
            </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Leave your comment</label>
          <form [formGroup]="commentForm" (ngSubmit)="onAddComment()">
            <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="comment" rows="3" required></textarea>
            <div class="alert alert-success" role="alert" *ngIf="commentSended">
              The comment will be posted after moderator testing!
            </div>
            <button class="btn btn-primary ml-2 mt-2" type="submit" 
           
            [disabled]="!commentForm.valid"
            >Add comment</button>         
          </form>
       
        </div>
       <div class="my-3 p-3 bg-white rounded box-shadow">
          <h6 class="border-bottom border-gray pb-2 mb-0">Comments
            <span class="badge badge-primary badge-pill ml-2">
            {{news.Comments!==null?news.Comments.length: 0}}
          </span></h6>
          
         <div *ngIf="news.Comments!==undefined||null">
          <div class="media text-muted pt-3" *ngFor="let c of news.Comments">
            <span *ngIf="c.User_Img!==null; else icon"><img src="{{c.User_Img}}" style="width: 32px; height: 32px;" class="mr-2"></span>
            <ng-template #icon> <i class="fas fa-user-tie fa-2x mr-2"></i></ng-template>
           
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">{{c.User_name}}</strong>
             {{c.Text}}
            </p>
          </div>
         </div>
         
        </div> 
  </div>
  <div class="col-lg-4 col-md-12 col-sm-12">
      <app-random-news></app-random-news>
  </div>
</div>
