
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col-1">#</th>
            <th scope="col-10">Comments</th>
            <th scope="col-1">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-light" *ngFor="let item of comments; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.Text}}</td>
            <td>
                <input 
                type="checkbox" 
                class="checkbox" 
                id="checkbox{{item.Id_com}}" 
                [checked]="item.Active" 
                (change)="statusChanged(item.Id_com)"/>
                <label for="checkbox{{item.Id_com}}"></label>
               
            </td>
            
          </tr>
          
        </tbody>
      </table>


 