<footer class="footer bg-dark">
  <div class="container-fluid ">
<div class="container">
  <div class="row ">
    <div class="col ">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/news']"  routerLinkActive="active">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/review']" routerLinkActive="active">Review</a>
            </li>
           
          </ul>
    </div>
    <div class="col">
        <ul class="nav flex-column">   
            <li class="nav-item">
                <a [routerLink]="['/smartphones']" routerLinkActive="active" class="nav-link">Smartphones</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/laptops']" routerLinkActive="active" class="nav-link">Laptops</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/tv']" routerLinkActive="active" class="nav-link">TVs</a>
              </li>
              <li class="nav-item">
                  <a [routerLink]="['/software']" routerLinkActive="active" class="nav-link">Software</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/cars']" routerLinkActive="active" class="nav-link">Cars</a>
                  </li>
          </ul>
    </div>
    <div class="col">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a [routerLink]="['/signin']" routerLinkActive="active" class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
            </li>
          </ul>
    </div>
  </div>
</div>

<div class="row">
    <div class="col"></div>
    <div class="col-4 text-center mb-2">
      <a href="#"><i class="fab fa-facebook-square fa-3x mr-2  text-white"></i></a>
      <a  href="#"> <i class="fab fa-twitter-square fa-3x mr-2 text-white"></i></a>
      <a  href="#"> <i class="fab fa-google-plus-square fa-3x mr-2 text-white"></i></a>
        
       
       
    </div>
    <div class="col"></div>
</div>
   
  </div>
</footer>


