<div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12">
            
                <div class="row" style="padding: 1rem;">
        
                        <app-news-item class="col-6" *ngFor="let item of news;" [newss]="item"></app-news-item>
                               
                     </div>  
                     <div class="row">
                           <div class="col text-center">
                               <button class="btn btn-primary mb-3" (click)="onClick()">Show more</button>
                           </div>
                       </div> 
              </div>
        <div class="col-lg-5 col-md-12 col-sm-12" id="app-random-news">
                <app-random-news ></app-random-news>
    
              </div>

</div>
     

       