  <div class="row">
    <div class="col-lg-7 col-md-12 col-sm-12">
      <div class="card" >
        <h5 class="card-header">Sign in</h5>
        <div class="card-body"> 
          <div class="row">         
            <div class="col-12">
              <button (click)="signGoogle()" class="btn btn-block btn-danger mb-2">
                <i class="fab fa-google-plus-square fa-2x mr-2 align-middle"></i><span class="align-middle" style="line-height: 2.5rem;" >Sign with Google</span>      
              </button>
              <button (click)="signFaceBook()" class="btn btn-block btn-primary mb-2" >
                <i class="fab fa-facebook-square fa-2x mr-2 align-middle"></i><span class="align-middle" style="line-height: 2.5rem;">Sign with FaceBook</span>
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-12 col-sm-12">
      <app-discussed></app-discussed>
    </div>
  </div>
  

