<div class="row">
        <div class="col-lg-2 col-sm-12 col-md-12">
          <div class="row">
            <div class="col-12">
                <div class="list-group border-success" >
                    <a class="list-group-item list-group-item-action bg-dark text-white">
                            <h5 class="active">Categories</h5>
                    </a>
                    <a [routerLink]="['/smartphones']" routerLinkActive="active" class="list-group-item list-group-item-action"><i class="fas fa-mobile-alt mr-3 ml-2 fa-2x"></i>Smartphones</a>
                    <a [routerLink]="['/laptops']" routerLinkActive="active" class="list-group-item list-group-item-action"><i class="fas fa-laptop mr-3 fa-2x"></i>Laptops</a>
                    <a [routerLink]="['/tv']" routerLinkActive="active" class="list-group-item list-group-item-action"><i class="fas fa-tv mr-3 fa-2x"></i>TVs</a>
                    <a [routerLink]="['/software']" routerLinkActive="active" class="list-group-item list-group-item-action "><i class="fab fa-microsoft mr-3 ml-2 fa-2x"></i>Software</a>
                    <a [routerLink]="['/cars']" routerLinkActive="active" class="list-group-item list-group-item-action "><i class="fas fa-car mr-3 ml-2 fa-2x"></i>Cars</a>
                  </div>
            </div>
           
          </div>
          <!-- <div class="row"> 
                  <div class="col-12 mt-3" >
                      <a class="list-group-item list-group-item-action bg-dark text-white">
                          <h5>Interesting videos</h5>
                  </a>
                      </div>
                      <div class="col-12">
                        <div class="row">
                          <div class="col-6 mb-2">
                              <div class="embed-responsive embed-responsive-16by9">
                                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                                </div>
                          </div>
                          <div class="col-6 mb-2">
                              <div class="embed-responsive embed-responsive-16by9">
                                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                                </div>
                          </div>
                          <div class="col-6 mb-2">
                              <div class="embed-responsive embed-responsive-16by9">
                                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                                </div>
                          </div>
                          <div class="col-6 mb-2">
                              <div class="embed-responsive embed-responsive-16by9">
                                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                                </div>
                          </div>
                        </div>
                      </div>
                  
              
            </div> -->
            
        </div>
    
    
        <div class="col-lg-10 col-md-12 col-sm-12">
         
            <router-outlet></router-outlet>                               
           
          
    </div>

  </div>   
    
    
    
    